# ignore practice data
practices/
exported_data/

# ignore athlete data
athletes/
flask_session/

# ignore pokemon images
pokemon_images/*

# Ignore algorithm plots
algo_plots/*

# Ignore python compiled files
*.pyc

# Ignore local files
routines.txt
test.log
data/

# ignore venv
venv/

# Ignore vscode files
.vscode/

# Ignore created comp cards
comp_cards

# files to ignore
images.py
algorithm.py
chatGpt.py
image.png
Comp_cards.zip
leaderboard.png
newFlippinCoopLogo.png