{% extends "trampoline/trampoline.html" %}

{% block logging %}
<br>
<div class="form-group" align="center">
  <table align="center">
    <tr>
      <td>
        <form action="{{ url_for('trampoline_log') }}" method="post" id="logger" name="logger" style="text-align:left;">

          <!-- Username -->
          <div class="form-row">
            <div class="col-sm-4"><label>Athlete:</label></div>
            <div class="col">
              <select id="athlete">
                <option value="">All athletes</option>
                {% for athlete in athletes %}
                <option value="{{athlete}}"{% if athlete == current_athlete %} selected{% endif %}>{{athlete}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </form>

      </td>
    </tr>
  </table>
</div>
{% endblock %}

<br>

<br><br><br>

{% block javascript %}
<script type="text/javascript">
/*
// reload to update tables
$('#athlete').change(function(e) {
  var athlete = $(this).val();
  location.href = "?athlete="+athlete
});
*/
// Update tables on the fly
$('#athlete').change(function(e) {
    var val = document.querySelector("#athlete").value;
    for(let i=0; i<paginated_practices.length; i++) {
        var page = paginated_practices[i];
        for (let j=0; j<page.length; j++) {
            var container = page[j];
            var table = container.children[0];

            // re-display the table incase it was hidden
            table.style.display = "";
            if (val == "") {
                continue
            }
            var thead = table.children[0];
            var title = thead.children[0].children[0].innerHTML;
            if (!title.includes(val)) {
                table.style.display = "none";
            }
        }
    }
    repaginate();
});
</script>
{% endblock %}