{% extends "trampoline/base.html" %}

{% block content %}
<div class="hero-section">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 hero-img">
      <img class="img-fluid rounded" src="/images/flipLogo.png">
    </div>
    <div class="col-md-4 hero-text">
      <p>
        How often do you find yourself manually handwriting each and every skill you do at practice then spending time
        to calculate metrics like the Degree of Difficulty (DD) of your turn? Well now there is an app you can use for
        that!
      </p>
      <p>Things that this tool can do:</p>
      <ul style="list-style-type: none;">
        <li><i class="fa fa-book"></i> Stores all previous trainings in one place</i></li>
        <li><i class="fa fa-book"></i> Easy input of a single turn or multiple turns</i></li>
        <li><i class="fa fa-book"></i> Automatic creation of comp cards</i></li>
        <li><i class="fa fa-book"></i> Simple search functionality to go back to a certain training</li>
        <li><i class="fa fa-book"></i> Caluclates metrics per turn and practice like:
          <ul style="list-style-type: none; margin-left: 20px;">
            <li><i class="fa fa-book"></i> Number of skills</li>
            <li><i class="fa fa-book"></i> Number of flips</li>
            <li><i class="fa fa-book"></i> Total Difficulty</li>
          </ul>
        </li>
      </ul>
      {% if user == None %}
      <p\>Try it today!</p>
      <a href="/login" class="btn btn-primary">Login</a>
      {% endif %}
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="down-arrow">
    <a onclick="scrollToSection(event,'leaderboard')" class="text-white">
      <i class="fa fa-chevron-down"></i>
    </a>
  </div>
</div>

<!--
<br><br>
<div class="container" id="outside">
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>Trampoline Practice Logger</h2>
    </div>
    <div class="row card-body">
      <div class="col-sm-3">
        <img class="col-sm" src="/images/flipLogo.png" alt="logo" />
      </div>
      <div class="col-sm-9">
        <p class="card-text">
          How often do you find yourself manually handwriting each and every skill you do at practice then spending time
          to calculate metrics like the Degree of Difficulty (DD) of your turn? Well now there is an app you can use for
          that!
        </p>
        <p class="card-text">Things that this tool can do:</p>
        <ul style="list-style-type: none;">
          <li><i class="fa fa-book"></i> Stores all previous trainings in one place</i></li>
          <li><i class="fa fa-book"></i> Easy input of a single turn or multiple turns</i></li>
          <li><i class="fa fa-book"></i> Automatic creation of comp cards</i></li>
          <li><i class="fa fa-book"></i> Simple search functionality to go back to a certain training</li>
          <li><i class="fa fa-book"></i> Caluclates metrics per turn and practice like:
            <ul style="list-style-type: none; margin-left: 20px;">
              <li><i class="fa fa-book"></i> Number of skills</li>
              <li><i class="fa fa-book"></i> Number of flips</li>
              <li><i class="fa fa-book"></i> Total Difficulty</li>
            </ul>
          </li>
        </ul>
        {% if user == None %}
        <p class="card-text">Try it today!</p>
        <a href="/login" class="btn btn-primary">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
-->

<!-- Leaderboards -->
<br><br>
<div class="container" id="leaderboard">
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>Leaderboards</h2>
    </div>
    <div>
      <ul class="nav nav-tabs">
        {% for board_type, board in leaderboard.items() %}
        <li class="nav-item">
          <a class="nav-link{% if loop.index == 1 %} active{% endif %}" data-toggle="tab" href='#{{board_type | replace(" ", "") | lower}}'>{{board_type}}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for board_type, board in leaderboard.items() %}
        <div id='{{board_type | replace(" ", "") | lower}}' class="tab-pane fade{% if loop.index == 1 %} show active{% endif %}">
          <div class="col">
            <h3 class="text-center">{{board_type}}</h3>
          </div>
          <div class="row">
            {% for event, event_board in board.items() %}
            <div class="col-sm">
              <h5 class="card-title">{{event}}</h5>
              <table border="1" class="table table-striped">
                <thead class="thead-dark">
                  <th>User</th>
                  <th>{{board_type}}</th>
                </thead>
                <tbody>
                  {% for user, score in event_board.items() %}
                  <tr>
                    <td>{{user}}</td>
                    <td>{{score}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<br><br>
{% endblock %}