{% extends "trampoline/base.html" %}

{% block content %}
<br>
<div class="container">
  <br>
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>Resources</h2>
    </div>
    <div class="card-body">
      <table class="table table-striped" border=1>
        <thead class="thead-dark">
          <th>Resource Type</th>
          <th>Links</th>
        </thead>
        <tbody>
          <tr>
            <td>Difficulty</td>
            <td>
              <ul>
                <li>
                  <a href="https://static.usagym.org/PDFs/Forms/T&T/DD_TR.pdf" target="_blank">Trampoline</a>
                </li>
                <li>
                  <a href="https://static.usagym.org/PDFs/Forms/T&T/DD_DMT.pdf" target="_blank">Double Mini</a>
                </li>
                <li>
                  <a href="https://static.usagym.org/PDFs/Forms/T&T/DD_TU.pdf" target="_blank">Tumbling</a>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Comp Cards</td>
            <td>
              <ul>
                <li><a href="https://static.usagym.org/PDFs/Forms/T&T/comp_card_trampoline.pdf" target="_blank">Trampoline</a></li>
                <li><a href="https://static.usagym.org/PDFs/Forms/T&T/comp_card_dm.pdf" target="_blank">Double Mini</a></li>
                <li><a href="https://static.usagym.org/PDFs/Forms/T&T/comp_card_tumbling.pdf" target="_blank">Tumbling</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br><br>
{% endblock %}