{% extends "trampoline/base.html" %}

{% block content %}
<br><br>
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>Sign-Up</h2>
    </div>
    <div class="row card-body">
      <div class="col-sm">
        <form method="POST" action="{{ url_for('sign_up') }}" id="sign_up">

          <!-- Username -->
          <div class="form-group row">
            <div class="col-sm-1">
              <label for="username">Username: </label>
            </div>
            <div class="col-sm-4">
              <input class="form-control" type="text" id="username" name="username" placeholder="Username" \>
            </div>
          </div>

          <!-- Password -->
          <div class="form-group row">
            <div class="col-sm-1">
              <label for="password">Password: </label>
            </div>
            <div class="col-sm-4">
              <input class="form-control" type="password" id="password" name="password" placeholder="Password">
            </div>
          </div>

          <!-- Confirm password-->
          <div class="form-group row">
            <div class="col-sm-1">
              <label for="password">Confirm Password: </label>
            </div>
            <div class="col-sm-4">
              <input class="form-control" type="password" id="confirm" name="confirm" placeholder="Confirm Password">
            </div>
          </div>

          <!-- Private account -->
          <div class="form-group row">
            <div class="col-sm-1">
              <label for="password">Private account: </label>
            </div>
            <div class="col-sm-4">
              <input type="radio" id="yes" name="private" value="true">
              <label for="yes">Yes, do not show data in leaderboards</label>

              <br>
              <input type="radio" id="no" name="private" value="false" checked>
              <label for="no">No, show data in leaderboards</label>
              <br>

            </div>
          </div>

          <!-- User type -->
          <div class="form-group row">
            <div class="col-sm-1">
              <label for="password">User type: </label>
            </div>
            <div class="col-sm-4">
              <input type="radio" id="athlete" name="user_type" value="athlete" checked>
              <label for="athlete">Athlete</label>

              <br>
              <input type="radio" id="coach" name="user_type" value="coach">
              <label for="coach">Coach</label>
              <br>

            </div>
          </div>


          <!-- Submit and sign-up -->
          <div class="form-group row">
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary">Sign-Up</button>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}