{% extends "trampoline/base.html" %}

{% block content %}
<br>
{% block logging %}
<div class="form-group" align="center">
  <table align="center" width="100%">
    <tr>
      <td>
        <form action="{{ url_for('trampoline_log') }}" method="post" id="logger" name="logger" style="text-align:left;">

          <!-- Username -->
          <div class="form-row">
            <div class="col-sm-3"><label for="name">Username:</label></div>
            <div class="col">
              {% if user == "" %}
              <input type="text" id="name" name="name" placeholder="new username" value="{{username}}"
                class="form-control" style="width:90%"><br>
              {% else %}
              <input type="text" id="name" name="name" placeholder="new username" value="{{user}}" class="form-control" style="width:90%"
                disabled>
              {% endif %}
            </div>
          </div>

          <!-- Date of practice being logged -->
          <div class="form-row">
            <div class="col-sm-3">
              Date:
            </div>
            <div class="col-sm">
              <input type="date" name="date" class="form-control" id="logger-date" style="width:90%" \>
            </div>
          </div>

          <!-- Event to be logged -->
          <div class="form-row">
            <div class="col-sm-3">
              Event:
            </div>
            <div class="col">
              <select name="event" id="event">
                <option value="trampoline" {% if event=="trampoline" %} selected{% endif %}>Trampoline</option>
                <option value="dmt" {% if event=="dmt" %} selected{% endif %}>Double Mini</option>
              </select><br>
            </div>
          </div>

          <!-- Skills to be logged -->
          <div class="form-row">
            <div class="col-sm-3">Skills:</div>
            <div class="col">
              <textarea id="log" name="log" rows="5" style="width:90%" form="logger"
                placeholder="Input your routines here">{{routine_text}}</textarea>
            </div>
          </div>
          <!-- button skills -->
          <div class="form-row">
            <div class="col-sm-3"></div>
            <div class="col-sm-5" style="width:90%">
              {% for flips, skills in all_skills.items() %}
              <div class="dropdown" style="display:inline-block">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{flips}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  {% for skill in skills %}
                  {% for pos in ['t', 'p', 's'] %}
                  <a class="dropdown-item" href="#" id="skill{{skill}}{{pos}}"
                    value="skill{{skill}}{{pos}}">{{skill}}{{pos
                    | replace("t", "o") | replace("p", "<") | replace("s", "/" )}}</a>
                      {% endfor %}
                      {% endfor %}
                </div>
              </div>
              {% endfor %}
              <!--<span id="num_skills">Number of skills: 0</span>-->
            </div>
            <div class="col-sm">
              <a id="repeat-skills" title="repeat skills" href="#"><span class="fa fa-repeat ml-3 mr-1 float-right" aria-hidden='true'></span></a>
              <a id="next-line" title="add a new line" href="#"><span class="fa fa-level-down ml-3 mr-1 float-right" aria-hidden='true'></span></a>
            </div>
          </div>
          <!-- Notes -->
          <div class="form-row">
            <div class="col-sm-3"><label for="notes">Notes:</label></div>
            <div class="col"><input type="text" id="notes" name="notes" placeholder="Enter notes" value="" style="width:90%"
                class="form-control"></div>
          </div>


          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </td>
    </tr>
  </table>
</div>




<!-- Goals -->
<br><br>
<div class="container">
  <form action="{{ url_for('trampoline_log') }}" method="post" id="goals" style="text-align:left;">
    <input type="hidden" name="goals_form" id="goals_form" value="goals_form" \>
    <table align="center" width="30%" border=1 class="table table-striped">
      <thead class="thead-dark">
        <th colspan=3>
          Goals
          <button type="button" class="btn float-right">
            <span class="fa fa-window-minimize" id="minimize_goals"></span>
          </button>
        </th>
      </thead>
      <tbody id="goals_body">
        <tr>
          <td colspan=3>

            <div class="form-inline">
              <input type="text" name="goal_string" id="goal_string" placeholder="Write goal here" style="width:70%;"
                class="form-control mr-1" \>
              <button type="submit" class="btn btn-primary" style="display:inline-block">Submit Goal</button>
            </div>

          </td>
        </tr>
        <tr>
          <td>
            <div style="height: 300px; overflow-y: auto">
              <table border="1">
                {% for goal in goals %}
                <tr>
                  <td width="5%">
                    {% if goal.done %}
                    <input type="checkbox" id="{{ loop.index0 }}" name="{{ loop.index0 }}" checked \>
                    {% else %}
                    <input type="checkbox" id="{{ loop.index0 }}" name="{{ loop.index0 }}" \>
                    {% endif %}
                  </td>
                  <td>
                    {% if goal.done %}
                    <!--<strike>{{ goal.goal }}</strike>-->
                    <span style="color:red">[DONE]</span> {{ goal.goal }}
                    {% else %}
                    {{ goal.goal }}
                    {% endif %}
                  </td>
                  <td width="5%">
                    <button type="submit" id="delete{{ loop.index0 }}" name="delete{{ loop.index0 }}" class="btn">
                      <span class="fa fa-remove" aria-hidden='true'></span>
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </form>
</div>

<br><br>
<!-- Airtimes -->
<div class="container">
  <form action="{{ url_for('trampoline_log') }}" method="post" id="airtime" style="text-align:left;">
    <input type="hidden" name="airtime_form" id="airtime_form" value="airtime_form" \>
    <table align="center" width="30%" border=1 class="table table-striped">
      <thead class="thead-dark">
        <th colspan=3>
          Airtimes
          <button type="button" class="btn float-right">
            <span class="fa fa-window-minimize" id="minimize_airtimes"></span>
          </button>
        </th>
      </thead>
      <tbody style="height:100px; overflow-y:auto;" id="airtimes_body">
        <tr>
          <td colspan=3>

            <div class="form-inline">
              <input type="text" name="airtime_string" id="airtime_string" placeholder="Write airtime here" style="width:70%;"
                class="form-control mr-1" \>
                <!-- add date picker field -->
              <input type="date" name="airtime-date" class="form-control" id="airtime-date" \>
              <button type="submit" class="btn btn-primary" style="display:inline-block">Submit Airtime</button>
            </div>

          </td>
        </tr>
        <tr>
          <td>
            <div style="height: 300px; overflow-y: auto">
              <table border="1">
                {% for airtime in airtimes %}
                {% if airtime.airtime %}
                <tr>
                  <td width="20%">{{ airtime.date}}</td>
                  <td>{{ airtime.airtime }}</td>
                  <td width="5%">
                    <button type="submit" id="delete{{ loop.index0 }}" name="delete{{ loop.index0 }}" class="btn">
                      <span class="fa fa-remove" aria-hidden='true'></span>
                    </button>
                  </td>
                </tr>
                {% endif %}
                {% endfor %}
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

{% endblock %}

<br><br>
<!--Navbar-->
<!-- https://mdbootstrap.com/docs/b4/jquery/navigation/hamburger-menu/ -->
<nav class="navbar navbar-dark bg-dark navbar-1 white">

  <!-- Navbar brand -->
  <a class="navbar-brand">Filter</a>

  <!-- Collapse button -->
  <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <ul class="nav navbar-nav mx-auto abs-center-x">
    <li class="nav-item"><a class="navbar-brand">Athlete Practices</a></li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <button type="button" class="btn float-right">
        <span class="fa fa-window-maximize" id="minimize_practices"></span>
      </button>
    </li>
  </ul>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form class="form-inline my-2" action="{{url_for('search_skills')}}" method="POST">
            <input class="form-control mr-sm-2 mr-auto" type="text" name="practice_skills" id="practice_skills" placeholder="Input skills/combos"{% if search_skills %} value="{{search_skills}}"{% endif %}>
            <button class="btn btn-secondary" type="submit">Search for skills</button>
          </form>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2" action="{{url_for('search_date')}}" method="POST">
            <!--from:-->
            <input class="form-control mr-sm-2 mr-auto" type="date" name="practice_date" id="practice_date">
            <!--
            to: <input class="form-control mr-sm-2 mr-auto" type="date" name="practice_date2" id="practice_date2">
            -->
            <button class="btn btn-secondary" type="submit">Search Practice</button>
          </form>
        </li>
      </ul>
      <!-- Links -->

    </div>
  <!-- Collapsible content -->
  </ul>

</nav>
<!--/.Navbar-->
<div id="practices_body" style="display:none;">
{{body|safe}}
</div>
<br>
<br><br><br>

<!-- Index for tables -->
<div class="container">
  <table align='center' border=1 style='background-color:#FFFFFF;'>
    <tr>
      <th align='center' colspan=9>Index</th>
    </tr>
    <tr>
      <td>Skill 1</td>
      <td>Skill 2</td>
      <td></td>
      <td># skills in this turn</td>
      <td># flips in this turn</td>
      <td># total skills in practice</td>
      <td># total flips in practice</td>
      <td>DoD for turn</td>
      <td>total DoD for practice</td>
    </tr>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

{% block javascript %}
{% endblock %}
<script type="text/javascript">
  var curr_page = 1;
  var paginated_practices = [];
  $(document).ready(function() {
    // Set logger date to current local date if a search date isn't chosen
    {% if not search_date %}
    var date = new Date();
    date.setMinutes(date.getMinutes() - date.getTimezoneOffset());
    document.getElementById("logger-date").value = date.toJSON().slice(0,10);
    document.getElementById("airtime-date").value = date.toJSON().slice(0,10);
    {% else %}
    document.getElementById("logger-date").value = "{{search_date}}";
    document.getElementById("airtime-date").value = "{{search_date}}";
    document.getElementById("practice_date").value = "{{search_date}}";
    {% endif %}

    // paginate practices
    var practices = [];
    var practices_div = document.getElementById("practices");
    var nodes = practices_div.childNodes;
    for (element of nodes){
      if (element.tagName == "DIV") {
        practices.push(element);
      }
    }

    var page_size = 10;
    n_pages = Math.floor(practices.length / page_size) + 1;
    for(i=0; i< n_pages; i++) {
      var start = i * page_size;
      var end = (i+1) * page_size;
      if(end > practices.length) {
        end = practices.length;
      }
      var current_page = practices.slice(start, end);
      paginated_practices.push(current_page);
    }

    practices_div.innerHTML = "";

    var next_page = document.createElement("button");
    next_page.innerHTML = "Next >>";
    next_page.style = "padding:0 10px; curdor: pointer;"
    next_page.id = "page_next";
    next_page.onclick = changePage;
    practices_div.prepend(next_page);
    for(page=paginated_practices.length; page>0; page--){
      var new_page = document.createElement("button")
      new_page.innerHTML = page;
      new_page.id = "page_"+page;
      new_page.onclick = changePage;
      new_page.style = "padding:0 10px; curdor: pointer;"
      practices_div.prepend(new_page)
    }
    var prev_page = document.createElement("button");
    prev_page.innerHTML = "<< Prev";
    prev_page.style = "padding:0 10px; curdor: pointer;"
    prev_page.id = "page_prev";
    prev_page.onclick = changePage;
    practices_div.prepend(prev_page);

    var practices_page = document.createElement("div");
    practices_page.id = "practices_page";
    for(element of paginated_practices[curr_page-1]){
      practices_page.append(element);
      practices_page.append(document.createElement("br"));
      practices_page.append(document.createElement("br"));
    }
    practices_div.append(practices_page);

  });

  // Change the practice page
  const changePage = function() {
    var page_id = this.id;
    var page = this.id.split("_")[1];
    if (page == curr_page){
      return
    }
    if(page == "prev"){
      if(curr_page > 1) {
        page = curr_page - 1;
      } else {
        return
      }
    }
    if(page == "next"){
      if(curr_page<paginated_practices.length){
        page = curr_page + 1;
      } else {
        return
      }
    }
    curr_page_id = "page_"+curr_page;
    document.getElementById(curr_page_id).style.background = "#FFFFFF";
    
    curr_page = parseInt(page);
    curr_page_id = "page_"+curr_page;
    document.getElementById(curr_page_id).style.background = "#0000FF";
    var practices_page = document.getElementById("practices_page");
    practices_page.innerHTML = "";
    for(element of paginated_practices[curr_page-1]){
      practices_page.append(element);
      practices_page.append(document.createElement("br"));
      practices_page.append(document.createElement("br"));
    }

  }
  // unhide the hidden notes by clicking the comment button
  $("[id^=unhide-note").click(function(e){
    var comment = $(this).siblings('span')[0];
    if (comment.style.display === "none") {
      comment.style.display = "inline";
    } else {
      comment.style.display = "none";
    }
  });
  $("[id^=skill]").click(function (e) {
    e.preventDefault();
    var skill = event.target.id.slice(5).replace('t', 'o').replace('p', '<').replace('s', '/');
    var routineText = document.getElementById('log').value;
    if (routineText != "") {
      $('#log').val(routineText + ' ' + skill);
    } else {
      $('#log').val(skill);
    }
  });
  function updateNumSkills() {
    let skills = $("#log").val().trim().split(/[\s]/);
    let num_skills = skills.length;
    document.getElementById('num_skills').textContent = "Number of skills: " + num_skills;
  }

  $("#log").on('input', function (e) {
    //updateNumSkills();
  });
  $("[id$=_skills]").change(function (e) {
    var skill = $(this).val().slice(5).replace('t', 'o').replace('p', '<').replace('s', '/');
    var routineText = document.getElementById('log').value;
    if (routineText != "") {
      $('#log').val(routineText + ' ' + skill);
    } else {
      $('#log').val(skill);
    }
    //updateNumSkills();
  });
  $('[id^=copy-text]').click(function(e){
    // Add copy of text to log
    var tds = e.target.parentNode.parentNode.parentNode.children;
    var routine = "";
    for (var i=0; i<tds.length; i++){
      var td = tds[i];
      if (td.firstChild == null){
        break;
      }  
      else {
        if (td.firstChild.tagName == undefined){
          var doc = new DOMParser().parseFromString(td.innerHTML, "text/html");
          var elementText = doc.documentElement.textContent;
          routine = routine + " " + elementText;
        }
      }
    }
    var skills = document.getElementById('log').value;
    var newText = "";
    if (skills != ""){
      newText = skills + '\n' + routine;
    } else {
      newText = routine;
    }
    
    // Remove extra spaces
    newText = newText.trim().replace('\n ', '\n');
    $('#log').val(newText);
  });
  $('#repeat-skills').click(function (e) {
    //var skills = $('log').val();
    var skills = document.getElementById('log').value;
    if (skills != "") {
      if (skills.endsWith('\n')) {
        var newText = skills + skills;
      } else {
        var newText = skills + ' ' + skills;
      }
      nextText = newText.trim().replace('\n ', '\n');
      $('#log').val(newText);
    }
    $('#log').focus();
  });
  $('#next-line').click(function(e) {
    var skills = document.getElementById('log').value;
    if (skills != "" && !skills.endsWith('\n')) {
      $('#log').val(skills + '\n');
    }
    $('#log').focus();
  });
  $("[id^=minimize_]").click(function(e){
    var section_to_minimize = event.target.id.split("_")[1];
    var minimize_id = section_to_minimize + "_body";
    var x = document.getElementById(minimize_id);
    if (x.style.display === "none") {
      x.style.display = "";
    } else {
      x.style.display = "none";
    }
    var button = document.getElementById(e.target.id);
    if (button.className == "fa fa-window-minimize") {
      button.className = "fa fa-window-maximize";
    } else {
      button.className = "fa fa-window-minimize";
    }
  });
  $("[id^=remove_]").click(function (e) {
    e.preventDefault();
    var date_to_remove = event.target.id.split("_")[1];
    var event_to_remove = event.target.id.split("_")[2];
    let confirmText = "".concat("Are you sure you want to delete ", date_to_remove, " ", event_to_remove, "?");
    if (confirm(confirmText) == true) {
      $.ajax({
        type: 'GET',
        url: "/logger/delete/" + date_to_remove + "/" + event_to_remove,
        success: function (data) {
          location.reload();
        }
      });
    }
  });
</script>

{% endblock %}