{% extends "trampoline/base.html" %}

{% block content %}
<br>
{% block logging %}
{% endblock %}

<br><br>
<!--Navbar-->
<!-- https://mdbootstrap.com/docs/b4/jquery/navigation/hamburger-menu/ -->
<nav class="navbar navbar-dark bg-dark navbar-1 white">

  <ul class="nav navbar-nav mx-auto abs-center-x">
    <li class="nav-item"><a class="navbar-brand disabled" href="#">Athlete Practices</a></li>
  </ul>
  <ul class="nav navbar-nav ml-auto mr-sm-3"></ul>

</nav>
<!--/.Navbar-->

{{body|safe}}
<br>
<br><br><br>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

{% block javascript %}
{% endblock %}
<script type="text/javascript">
  // expand all tables
  const tables = document.getElementsByClassName("practice-table");
  for(const table of tables) {
    table.classList.remove("closed");
  }
  const expandBtns = document.getElementsByClassName("fa-chevron-down");
  for(const btn of expandBtns) {
    btn.classList = "fa fa-chevron-up";
  }

  // unhide the hidden notes by clicking the comment button
  $("[id^=unhide-note").click(function (e) {
    var comment = $(this).siblings('span')[0];
    if (comment.style.display === "none") {
      comment.style.display = "inline";
      const tableDiv = e.target.parentNode.parentNode.parentNode.parentNode.parentNode;
      tableDiv.style.height = tableDiv.offsetHeight + comment.offsetHeight + 'px';
    } else {
      const tableDiv = e.target.parentNode.parentNode.parentNode.parentNode.parentNode;
      tableDiv.style.height = tableDiv.offsetHeight - comment.offsetHeight + 'px';
      comment.style.display = "none";
    }
  });
  $("[id^=remove_]").click(function (e) {
    alert("Cannot delete practice from user practice page");
  });
  $('[class^="expand-turn"]').click(function (e) {
    const turnDetailsDiv = e.target.parentNode.lastElementChild;
    if (turnDetailsDiv.style.display == "none") {
      turnDetailsDiv.style.display = "";
      //e.target.classList = "expand-tab fa fa-caret-up";
      e.target.classList = "expand-tab fa fa-minus";
      const tableDiv = e.target.parentNode.parentNode.parentNode.parentNode.parentNode;
      tableDiv.style.height = tableDiv.offsetHeight + turnDetailsDiv.offsetHeight + 'px';
    } else {
      const tableDiv = e.target.parentNode.parentNode.parentNode.parentNode.parentNode;
      tableDiv.style.height = tableDiv.offsetHeight - turnDetailsDiv.offsetHeight + 'px';
      //e.target.classList = "expand-tab fa fa-caret-down";
      e.target.classList = "expand-tab fa fa-plus";
      turnDetailsDiv.style.display = "none";
    }
  });

  $('[class^="table-open-btn"]').click(function (e) {
    const button = e.target.closest("button.table-open-btn");
    const table = button.nextElementSibling;
    const tableDiv = table.parentNode;
    if (tableDiv.classList.contains('closed')) {
      tableDiv.style.height = table.offsetHeight + 'px';
      button.childNodes[0].classList = "fa fa-chevron-up";
    } else {
      tableDiv.style.height = '';
      button.childNodes[0].classList = "fa fa-chevron-down";
    }
    tableDiv.classList.toggle("closed");

  });
</script>

{% endblock %}