.bgtext2 {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('/images/newFlippinCoopLogo.png');
    color: transparent;
    font-size: 40px;
    font-weight: 700;
    height: 100px;
    background-position: top 10% center;
    /*background-size: contain;
    background-repeat: no-repeat;*/
    /*background: url('/images/newFlippinCoopLogo.png');*/
    background-size: 500px 500px;
  }

/*
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}
*/
/* Options menu */

.options-menu {
    position: fixed;
    float: left;
    /*position: sticky;*/
    transform: translateX(-100%);
    top: 0;
    /*left: -200px;*/
    width: 300px;
    /*height: 100%;*/
    height: 100vh;
    /*background-color: #fff;*/
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  
  .options-menu.open {
    left: 0;
    transform: translateX(0%);
  }
  .options-close-button {
    float: right;
    margin: 20px 10px 0 0;
    background-color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    /*left: 30px;*/
    left: 5em;
  }
  .options-close-button:hover {
    color: red;
  }
  .options-menu-button {
    float: right;
    margin: 20px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    /*left: 30px;*/
    left: 4.7em;
  }
  
  .options-menu-button i {
    color: #333;
  }
  
  .options-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .options-menu-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-right: 10px;
  }
  
  .options-menu-list li:last-child {
    border-bottom: none;
  }

  .main-content {
  transition: transform 0.3s ease-in-out;
}

.main-content.open {
  transform: translateX(500px);
}
/* other */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  height: auto;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.move-count-options {
  background-color: rgba(255, 255, 255, 0.7);
}

/* Chatbot textbox */

.custom-textarea {
  position: relative;
  left: 5%;
  right: 5%;
  width: 100%;
}

#send-btn {
  position: absolute;
  top: 50%; /* Vertically align button in the middle */
  right: 5px;
  transform: translateY(-50%); /* Adjust for vertical alignment */
  width: 30px; /* Set button width */
  height: 30px; /* Set button height */
  border: none;
  border-radius: 50%; /* Make the button round */
  background-color: #007bff;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#send-btn::before {
  content: "\2192"; /* Unicode arrow character */
  font-size: 14px;
}

#chat {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

/* Hero section */
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*text-align: center;*/
  color: white;
  background-color:  rgba(0, 0, 0, 0.5);
}

.hero-img {
  border-radius: 50%;
}

.hero-list {
  align-items: start;
  justify-content: left;
  list-style-type:circle;
}

.down-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  z-index: 1;
}