@import url('http://fonts.googleapis.com/css?family=Robotos?family=Exo:400,700');

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    #background-color: royalblue;
    background-color: #343a40;
    #background-color: #007bff;
    #font-family: "Brush Script MT", cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    #color: lightblue;
    color: white;
    z-index: 1;
    text-align: center;
}

.spinner-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.spinner-text {
  margin-left: 10px;
  font-size: 24px;
  color: #fff;
  display: flex;
}

.spinner-text span {
  display: inline-block;
  animation-name: wave;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  margin-right: 1px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes wave {
  0% { transform: translateY(0); }
  25% { transform: translateY(-10px); }
  50% { transform: translateY(0); }
}

.spinner-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
  
.spinner-close svg {
  display: block;
  fill: #666;
}
  
.spinner-close:hover svg {
  fill: #333;
}

.card:hover {
    background-color: #eee;
    transition: background-color 0.3s ease;
}