@import url('http://fonts.googleapis.com/css?family=Robotos?family=Exo:400,700');

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /*background-color: royalblue;*/
    background-color: #343a40;
    /*background-color: #007bff;*/
    /*font-family: "Brush Script MT", cursive;*/
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    /*color: lightblue;*/
    color: white;
    z-index: 1;
    text-align: center;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;  
    z-index: 2;  
}

.x {
  color: red;
  font-weight: bold;
}

.spinner-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

.spinner-text {
  margin-left: 10px;
  font-size: 24px;
  color: #fff;
  display: flex;
}

.spinner-text span {
  display: inline-block;
  animation-name: wave;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  margin-right: 1px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes wave {
  0% { transform: translateY(0); }
  25% { transform: translateY(-10px); }
  50% { transform: translateY(0); }
}

.spinner-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
  
.spinner-close svg {
  display: block;
  fill: #666;
}
  
.spinner-close:hover svg {
  fill: #333;
}

.card:hover {
    background-color: #eee;
    transition: background-color 0.3s ease;
}

.recc-skill {
  display: inline-block;
  width: auto;
  border: 1px solid;
  border-radius: 20px;
  margin-right: 5px;
  padding: 5px;
}


.btn-rate {
  display: inline-block;
  width: auto;
  border: 1px solid;
  border-radius: 20px;
  margin-right: 5px;
  padding: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-btn:focus + .dropdown-content {
  display: block;
}

.rating-option {
  cursor: pointer;
}

.athlete-list {
  list-style: none;
  background-color: white;
  border-radius: 1px;
  border: 1px solid;
  height: 100px;
  overflow-y: auto;
}

/* Hero section */
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*text-align: center;*/
  color: black;
  /*background-color:  rgba(0, 0, 0, 0.5);*/
  background: linear-gradient(to left, rgba(0,0,0,0.5),rgba(255,255,255, 0.5));
}

.hero-img {
  border-radius: 50%;
}

.down-arrow {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  z-index: 1;
}

/* Notepad for logging */
#col-skill {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#log {
    width: 100%;
    height: 300px;
    resize: none;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 20px; /* Adjust the line height as needed */
    background-image: repeating-linear-gradient(transparent, transparent 19px, #ddd 19px, #ddd 20px);
    background-position: 0 7px; /* Adjust the vertical position */
    padding: 10px; /* Adjust padding to center text within lines */
    background-color: #fff; /* Ensure the background color covers the lines */
    background-attachment: local; /* Move the background with the text when scrolling */
}

/* Styles for full-screen mode */
#col-skill.full-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#log.full-screen {
    height: calc(100vh - 70px);
}

#fullScreenBtn {
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    border: 1px solid;
    font-size: 10px;
}

#logger-bottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#dropdownMenuButton {
  font-size: 9px;
}

/* tag */
.tags-section {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag-box {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.tag-box.selected {
    background-color: #6fa9e5;
    color: #fff;
}

.practice-tag {
    background-color: #fff;
    padding: 5px;
    border-radius: 20px;
    color: black;
}