{% extends "pokemon/base.html" %}

{% block content %}
<div class="container mt-5"
  style="background: rgba(255,255,255,0.4); border-radius: 10px; padding: 20px; box-shadow: 0 2px 8px rgba(0,0,0,0.2);">
  <h1 style="text-align:center;">About</h1>

  <div class="row">
    <div class="col-md-12 mx-auto mb-4 d-flex justify-content-center">
      <div class="card mx-auto">
        <div class="card-body">
          <h2 id="meta-data" class="card-title">Reading Meta Data</h2>
          <div style="display: flex; flex-direction: row;">
            <div style="display: flex; flex-direction: column; border: 1px solid; border-radius: 10px; margin: 10px;">
              <div id="title" class="text-center"><b>Leads reported on GoBattleLog</b></div>
              <div id="details">
                <p class="card-text">This section shows the leads, second, and third pokemon on teams that trainers
                  encountered in Go Battle League that they reported on GoBattleLog.</p>
              </div>
            </div>
            <div style="display: flex; flex-direction: column; border: 1px solid; border-radius: 10px; margin: 10px;">
              <div id="title" class="text-center"><b>Leads that beat the meta leads</b></div>
              <div id="details">
                <p class="card-text">This section shows the results from anti-meta algorithm for pokemon which beat the
                  reported leads, second, and third pokemon.</p>
              </div>
            </div>


          </div>
          <p class="card-text">
          <div style="text-align: center">
            <p style="text-align:center;"><u>Example results:</u></p>
            <img src="/images/example_data2.png" style="width: 75%;" align="center">
          </div>
          </p>
          <p class="card-text">
            In this example above, you can learn the following from the left side of the table:
          <ul style="list-style-position: inside; margin-left: 10px">
            <li>46 Bastiodons and 43 Lanturns were reported in the lead</li>
            <li>The number of Bastiodons and Lanturns that won the lead were 50.00% and 51.16% respectively</li>
          </ul>
          From the right side of the table you can learn the following:
          <ul style="list-style-position: inside; margin-left: 10px">
            <li>Lickitung beats 68.21% and Skarmory beats 56.48% of the leads reported on GoBattleLog</li>
            <li>Lickitung and Skarmory were reported to actually win the lead 52.94% and 44.44% of the time</li>
          </ul>
          </p>

          <!-- Zoom in-->
          <div id="zoom-in" style="display: flex; flex-direction: column; border: 1px solid; border-radius: 10px;">
            <div id="title" class="text-center"><b><u>Zooming in</u></b></div>
            <div id="text-desc">
              <div id="details"
                style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; gap: 10px;">
                <div id="image" style="margin: 10px;">
                  <table class="table table-striped" style="width: 100%;">
                    <tbody>
                      <tr style="border:none;">
                        <td style="border:none;padding-top:1px;padding-bottom:0px"><b><u>Pokemon</u></b></td>
                        <td style="border:none;padding-top:1px;padding-bottom:0px"><b><u># Reports</u></b></td>
                      </tr>

                      <tr style="border:none; background-color: white;">
                        <td style="border:none;padding-top:1px;padding-bottom:0px;overflow: visible;">
                          Bastiodon (23/46 || 50.00%)
                          <!--bastiodon-->
                        </td>
                        <td style="border:none;padding-top:1px;padding-bottom:0px">
                          46
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div id="text">
                  <p>From this table you can determine that there were 46 Bastiodons reported on
                    GoBattleLog. Out of the 46 Bastiodons reported in the lead, 23 of them were on winning
                    teams, equating to a 50.00% win rate.</p>
                </div>
              </div>
            </div>
            <div id="img-desc">
              <div id="details"
                style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; gap: 10px;">
                <div id="image" style="margin: 10px;">
                  <!--<img src="/images/example_data.png" onmouseover="$(this).css('width', '200%')" style="width: 100%;" onmouseleave="$(this).css('width', '100%')">-->
                  <img src="/images/example_data.png">
                </div>
                <div id="text">
                  <p>From this image you can determine that Lickitung can beat 68.21% of the leads reported on
                    GoBattleLog. Out of the 17 Lickitungs actually reported in the lead, 9 of them were on winning
                    teams, equating to a 68.21% win rate.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto mb-4 d-flex justify-content-center">
      <div class="card mx-auto">
        <div class="card-body">
          <h2 id="meta-data" class="card-title">Reading Move Counts</h2>
          <p class="card-text">On the <a href="/move_counts">Move Counts</a> page you can learn how many fast moves it
            takes each pokemon to get to all of their charge moves.</p>
          <p style="text-align:center;">Example results:</p>
          <table class="table table-striped mx-auto" border="1" style="width:50%;">
            <thead class="thead-dark bg-dark text-white">
              <tr>
                <th colspan="2">Bulbasaur</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>tackle (1) [3] - power_whip [50]</td>
                <td>[17, 17, 16, 17, 17]</td>
              </tr>
              <tr>
                <td>vine_whip (2) [8] - power_whip [50]</td>
                <td>[7, 6, 6, 6, 7]</td>
              </tr>
            </tbody>
          </table>
          <p class="card-text">
            In this example above, you can learn the move counts for a Bulbasaur with the following movesets:
          <ul style="list-style-position: inside; margin-left: 10px;">
            <li>Tackle fast move and Power Whip charge move</li>
            <li>Vine Whip fast move and Power Whip charge move</li>
          </ul>
          The left side of the table states:
          <ul style="list-style-position: inside; margin-left: 10px">
            <li>The moveset (Tackle/Power Whip or Vine Whip/Power Whip)</li>
            <li>How many turns the fast move is (1 turn for Tackle and 2 turns for Vipe Whip)</li>
            <li>How much energy the fast move gains (3 energy for Tackle and 8 energy for Vine Whip)</li>
            <li>How much energy it costs to use the charge move (50 for Power Whip)</li>
          </ul>
          while the right side of the table shows how many counts it is to each subsequent charge move:
          <ul style="list-style-position: inside; margin-left: 10px">
            <li>Using Tackle, it takes <b>17</b> fast moves to get to the first and second Power Whip. Then the third
              Power Whip is <b>16</b> fast moves.</li>
            <li>Using Vine Whip, it takes <b>7</b> fast moves to get to the first Power Whip. Then the second Power Whip
              is <b>6</b> fast moves.</li>
          </ul>
          </p>
          <p class="card-text">
            <u>Filtering pokemon</u><br>
            You can create a comma-separated list of pokemon to input at the top of the page and it will show only those
            pokmeon. For example: "<i>walrein,trev,medi</i>" will only show Walrein, Trevenant, and Medicham.
          </p>
          <p class="card-text">
            <u>Creating move images</u><br>
            When you are ready you can create a move counts infographic from the filtered pokemon. Do this by clicking
            on the <i>Download move counts</i> button to the right of the filter input field. This will generate a move
            counts image similar to the following:
            <center><img src="/images/example_move_counts.png" class="card-img-top" /></center>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto mb-4 d-flex justify-content-center">
      <div class="card mx-auto">
        <div class="row card-body">
          <div class="col-sm-3">
            <img class="col-sm" src="/images/flipLogo.png" alt="logo" />
          </div>
          <div class="col-sm-9">
            <h2 id="meta-data" class="card-title">About The Developer</h2>
            <p class="card-text">Hey guys! It's me, itsFlippinCoop.</p>
            <p class="card-text">
              Here are some fun facts about me:
            <ul style="list-style-position: inside; margin-left: 10px">
              <li>I started playing Pokemon Go on July 7th, 2016, the day after release in the US</li>
              <li>I started streaming on Twitch in March 2020. I started out with shiny hunting in Pokemon Let's Go -
                Eevee. I didn't start streaming Pokemon Go PVP battles until November 2020.</li>
              <li>I have hit the Legend rank in GBL in seasons 8, 9, 11, 13, 15, and 16 with an all-time high ELO of 3148 back in
                season 16.</li>
            </ul>
            Outside of Twitch:
            <ul style="list-style-position: inside; margin-left: 10px">
              <li>I have been competing in competitive Trampolining since October 2003.</li>
              <li>I tried out to be on the U.S. team for the 2016 and 2021 Olympic Games.</li>
              <li>I work as a programmer (duh)</li>
            </ul>
            </p>
            <p class="card-text">
              To learn more about me:
            <ul style="list-style-position: inside; margin-left: 10px">
              <li>Follow me on Twitch: <a target="_blank"
                  href="https://twitch.tv/itsFlippinCoop">https://twitch.tv/itsFlippinCoop</a></li>
              <li>Watch my flipping videos (of me doing actual flips) on my <a target="_blank"
                  href="https://www.instagram.com/itsflippincoop/">Instagram</a></li>
              <li>Watch highlights from my streams on my <a target="_blank"
                  href="https://youtube.com/@itsFlippinCoop">Youtube Channel</a></li>
              <li>Join my <a target="_blank" href="https://discord.gg/E9xBYUx">Discord</a></li>
              <li>Purchase my <a target="_blank" href="https://my-store-11593895.creator-spring.com/">Merch</a></li>
              <li>Please consider supporting me on <a target="_blank" href="/paypal">Paypal</a> or on my <a
                  target="_blank" href="http://patreon.com/itsFlippinCoop">Patreon</a>. This will help encourage me to
                continue working on my website and producing move count infographics.</li>
            </ul>
            </p>
            <p class="card-text">Catch you on the Flipside!</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<br><br><br>
<div class="container">
  <p style="text-align:center">Current commit: {{commit_hash}}</p>
</div>

{% endblock %}