{% extends "pokemon/base.html" %}

{% block content %}
<br><br>
<div class="spinner-container">
  <div class="spinner"></div>
  <div class="spinner-text">Loading data...</div>
  <button id="spinner-close" class="spinner-close" aria-label="Close">
    <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
      <path d="M10.894 9l6.553-6.553a1 1 0 1 0-1.414-1.414L9.48 7.586 2.928 1.034a1 1 0 0 0-1.414 1.414L7.066 9 .514 15.553a1 1 0 0 0 1.414 1.414L9 10.414l6.553 6.553a1 1 0 0 0 1.414-1.414L10.894 9z" fill-rule="evenodd"></path>
    </svg>
  </button>
</div>

<div class="container mt-5" style="background: rgba(255,255,255,0.4); border-radius: 10px; padding: 20px; box-shadow: 0 2px 8px rgba(0,0,0,0.2);">
  <h1 align="center">Welcome to the Anti-Meta Team Generator!</h1>
  <p>Here you'll find all the resources you need to become a top-notch Pokemon Go PVP battler, including: learning the current meta in each league, learning counts for each pokemon, and learning popular teams.</p>
  {% set cardSize = 10 %}
  <div class="row">
    <div class="col-md-{{cardSize}} mx-auto mb-4 d-flex justify-content-center">
      <div class="card mx-auto w-100">
        <div class="card-body">
          <h2 id="meta-data" class="card-title">Meta Data</h2>
          <p class="card-text">Here you'll find the latest information on the Pokemon Go Battle meta, including the most popular Pokemon, moves, and team compositions.</p>
          <p class="card-text">Check back regularly to stay up-to-date on the shifting landscape of competitive Pokemon Go.</p>
        </div>
        <div class="card-footer">
          <a href="/" class="btn btn-primary">Open Meta Data</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-{{cardSize}} mx-auto mb-4 d-flex justify-content-center">
      <div class="card mx-auto w-100">
        <div class="card-body">
          <h2 id="about" class="card-title">About</h2>
          <p class="card-text">Learn about how to read the meta data and how to use it to build teams.</p>
        </div>
        <div class="card-footer">
          <a href="/about" class="btn btn-primary">Open About page</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-{{cardSize}} mx-auto mb-4 d-flex justify-content-center">
      <div class="card mx-auto w-100">
        <div class="card-body">
          <h2 id="move-counts" class="card-title">Move Counts</h2>
          <p class="card-text">Learn the counts for all pokemon moves in Pokemon Go. Also create your own move counts infographics!</p>
          <p class="card-text">Using move counts is a great way to take the next step to improving on your skills during battles. Many top battlers have these metrics memorized while some keep an infographic on their screen during battles. Use this tool to optimize your performance and give yourself the edge in battle.</p>
        </div>
        <div class="card-footer">
          <a href="/move_counts" class="btn btn-primary">Open Move Counts</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-{{cardSize}} mx-auto mb-4 d-flex justify-content-center">
      <div class="card mx-auto w-100">
        <div class="card-body">
          <h2 id="go-battle-log" class="card-title">Go Battle Log</h2>
          <p class="card-text">Keep track of your battle results and see how you're improving over time. Use this tool to track your progress and identify areas for improvement.</p>
          <p class="card-text">The Anti-Meta Team Generator uses data from GoBattleLog to generate the meta and anti-meta data.</p>
        </div>
        <div class="card-footer">
          <a href="https://gobattlelog.com/" class="btn btn-primary">Visit GoBattleLog</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-{{cardSize}} mx-auto mb-4 d-flex justify-content-center">
      <div class="card mx-auto w-100">
        <div class="card-body">
          <h2 id="pvpoke" class="card-title">Pvpoke</h2>
          <p class="card-text">Pvpoke is an open-source tool for simulating, ranking, and building teams for Pokemon GO PvP (player versus player) battles.</p>
        </div>
        <div class="card-footer">
          <a href="https://pvpoke.com/" class="btn btn-primary">Visit Pvpoke</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-{{cardSize}} mx-auto mb-4 d-flex justify-content-center">
      <div class="card mx-auto w-100">
        <div class="card-body">
          <h2 id="pvpoke" class="card-title">Support me on Patreon</h2>
          <p class="card-text">Please consider supporting me on my <a target="_blank" href="http://patreon.com/itsFlippinCoop">Patreon</a>. This will help encourage me to continue working on my website and producing move count infographics.</p>
        </div>
        <div class="card-footer">
          <a href="http://patreon.com/itsFlippinCoop" class="btn btn-primary">Visit Patreon</a>
        </div>
      </div>
    </div>
  </div>

</div>
<br><br>
<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
 
<script type="text/javascript">
var spinnerClose = document.getElementById("spinner-close");
spinnerClose.addEventListener("click", function() {
  var spinnerContainer = document.querySelector(".spinner-container");
  spinnerContainer.style.display = "none";
});
</script>
{% endblock %}