{% extends "pokemon/base.html" %}

{% block content %}
<div class="container">
  <!--<form action="/move_counts">-->
    <table>
      <tr>
        <td>
          <label>Filter Pokemon:</label>
        </td>
        <td>
          <input type="text" name="chosen_pokemon" onkeyup="filterPokemon()" class="form-control">
        </td>
        <td>
          <button type="submit" onclick="downloadData()">Download move counts</button>
        </td>
      </tr>
      <tr>
        <td>Filter Tips</td>
        <td>
          <ul>
            <li>
              Write a list of comma-separated pokemon. <i>i.e. walrein,trev,medi</i>
            </li>
            <li>
              Add fastmove (for the downloaded image) inside ( ). <i>i.e. walrein(waterfall),bulba(tackle),venu</i>
            </li>
          </ul>
        </td>
      </tr>
    </table>

  <div class="grid-container" style="display: grid; grid-template-columns: 50% 50%;" id="table-grid">
  {% for pokemon in moves.keys() %}
  <table border="1" id="{{pokemon}}_table" name="pokemon" class="table table-striped" style="width: 90%; height: 1%">
    <thead class="thead-dark bg-dark text-white">
    <tr>
      <th colspan="2">{{ pokemon }}</th>
    </tr>
    </thead>
    <tbody>
    {% for counts in moves[pokemon].items() %}
    <tr>
      <td>{{counts[0]}}</td>
      <td>{{counts[1]}}</td>
    </tr>
    </tbody>
    {% endfor %}
  </table>
  {% endfor %}
  </div>
</div>


<script type="text/javascript">

  /*
  Download the move counts image
  */
  function downloadData() {
    var inputs = document.getElementsByName("chosen_pokemon")[0].value.toUpperCase().split(",");
    var all_tables = document.getElementsByName("pokemon");
    var all_pokemon = [];
    for(var i in all_tables) {
      var table = all_tables[i];
      if (table.id == undefined) {
        continue;
      }
      for (var input in inputs){
        // remove move from chosen pokemon if it exists
        const chosen_pokemon = inputs[input].replace(/(\(\w*\))/i, "");
        if(table.id.toUpperCase().indexOf(chosen_pokemon) > -1){
          var pokemon_name = table.id.slice(0, -6);
          if(pokemon_name == "pidgeotto" && inputs[input].toLowerCase() == "pidgeot"){
            continue;
          }
          // add back in the move
          pokemon_name = pokemon_name + inputs[input].replace(/(\w*)(\(\w*\))?/i, "$2")
          all_pokemon.push(pokemon_name)
        }
      } 
    }
    var url = "/move_image?pokemon=" + all_pokemon.join(',');
    location.href = encodeURI(url);

  }

  /*
  Filter the pokemon tables based on the input
  */
  function filterPokemon() {
    var inputs = document.getElementsByName("chosen_pokemon")[0].value.toUpperCase().split(",");

    // remove new lines
    new_lines = document.getElementsByTagName("br");
    for(i = 0; i<new_lines.length; i++){
      line = new_lines[i];
      if(line.previousSibling.tagName == "TABLE"){
        line.remove();
      }
    }

    new_lines = document.querySelectorAll('[table_sep="true"]');
    for(i=0;i<new_lines.length; i++){
      line = new_lines[i];
      line.remove();
    }

    // hide all non-chosen pokemon tables
    all_tables = document.getElementsByName("pokemon");
    for (i = 0; i < all_tables.length; i++){
      table = all_tables[i];
      for (var input in inputs){ // input it the index
        // remove move from chosen pokemon if it exists
        const pokemon = inputs[input].replace(/(\(\w*\))/i, "");

        // check if the table has the given pokemon
        if(table.id.toUpperCase().indexOf(pokemon) > -1){
          all_tables[i].style.display = "";
          break;
        } else {
          all_tables[i].style.display = "none";
          next_sib = all_tables[i].nextSibling;
          if(next_sib.tagName == "BR"){
            next_sib.remove();
          }
        }
      };
    }

  }
</script>
{% endblock %}