<!doctype html>
<html>
<body style="background-color:lightblue;">
<table align="center">
<tr>
  <td rowspan=1>
  <p style="text-align:center;"><img src="flippinCoopLogo.png" width=200 height=200></p>
  </td>
  <td colspan=4 height="80%"><font size="+30" style="text-align:center;">Anti-Meta Team Generator</font></td>
</tr>
<tr>
  <td align="center"><a href="/">Home</a></td>
  <td align="center">About</td>
  <td align="center"><a href="https://gobattlelog.com/">GoBattleLog</a></td>
  <td align="center"><a href="https://pvpoke.com/">PVPoke</a></td>
</tr>
</table>
<br><br>

<br><h1 style="text-align:center;">About</h1>

<p style="text-align:center;">Example results:</p>
<table border='1'  align='center' style='background-color:#FFFFFF;'>
<th colspan=4>Recommended Leads</th>
<tr>
  <td>azumarill: 64.51%</td><td>medicham: 57.64%</td><td>stunfisk_galarian: 48.65%</td><td>altaria: 46.16%</td>
</tr>
</table>
<br><br>
<table border='1'  align='center' style='background-color:#FFFFFF;'>
<th colspan=4>Meta Leads</th>
<tr>
  <td>stunfisk_galarian: 705.00</td><td>altaria: 505.00</td><td>azumarill: 479.00</td><td>jellicent: 412.00</td>
</tr>
</table>

<br>
<table border=1 align='center'>
<tr>
  <td rowspan=4>How it works</td>
  <th>Leads</th>
</tr>
<tr>
  <td>
These values represent the percentages of meta leads that the given pokemon can beat (in the 1 shield).
<br>For example: <i>"azumarill: 64.512%"</i> means that azumarill beats 64.51% of the reported leads.
  </td>
</tr>
<tr>
  <th>Meta Leads</th>
</tr>
<tr>
  <td>
These values represent the number of times each of these pokemon was reported as a lead in <a href='https://gobattlelog.com/'>gobattlelog</a>.
<br>For example: <i>"stunfisk_galarian: 705.00"</i> means that the galarian version of stunfisk was reported as the lead 705 different times.
  </td>
</tr>
</table>
<br><br><br>
</body>
</html>