<!doctype html>
<html>
<body style="background-color:lightblue;">
<table align="center">
<tr>
  <td rowspan=1>
  <p style="text-align:center;"><img src="flippinCoopLogo.png" width=200 height=200></p>
  </td>
  <td colspan=4 height="80%"><font size="+30" style="text-align:center;">Anti-Meta Team Generator</font></td>
</tr>
<tr>
  <td align="center">Home</td>
  <td align="center"><a href="/about">About</a></td>
  <td align="center"><a href="https://gobattlelog.com/">GoBattleLog</a></td>
  <td align="center"><a href="https://pvpoke.com/">PVPoke</a></td>
</tr>
</table>
<br><br>
{{body|safe}}
</body>
</html>