<!doctype html>
<html>
<head>
  <style type="text/css">
  .practices {
    height:700px;
    overflow-y:auto;
  }
  </style>
</head>
<body style="background-color:lightblue;">
<table align="center">
<tr>
  <td rowspan=1>
  <p style="text-align:center;"><img src="flippinCoopLogo.png" width=200 height=200></p>
  </td>
  <td colspan=4 height="80%"><font size="+30" style="text-align:center;">Trampoline Practice Logging</font></td>
</tr>
</table>
<br><br>

<form action="{{ url_for('trampoline_log') }}" method="post" id="logger" style="text-align:center;">
<textarea id="log" name="log" rows="10" cols="50" form="logger" placeholder="Input your routines here"></textarea>
<br>
<input type="submit">
</form>

<!--- Deleting past data --->
<form method="post" id="clear-form" style='text-align:center;'>
<button type="submit" id="delete-button">Delete Historical Data</button>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
 
  <script type="text/javascript">
    $("#delete-button").click(function(e){
    e.preventDefault();
    $.ajax({
      type: 'GET',
      url: "/logger/_clear",
      success: function(data){
                 alert("Deleted data");
               }
    });
});
</script>


<br><br>
{{body|safe}}
<br>

<br><br><br>
</body>
</html>