<!doctype html>
<html>
<head>
  <style type="text/css">
  .practices {
    height:700px;
    overflow-y:auto;
  }
  </style>
</head>
<body style="background-color:lightblue;">
<table align="center">
<tr>
  <td rowspan=1>
  <p style="text-align:center;"><img src="flippinCoopLogo.png" width=200 height=200></p>
  </td>
  <td colspan=4 height="80%"><font size="+30" style="text-align:center;">Trampoline Practice Logging</font></td>
</tr>
</table>
<br><br>

<table align="center">
<tr><td>
<form action="{{ url_for('trampoline_log') }}" method="post" id="logger" style="text-align:left;">

<!-- Username -->
Username: <input type="text" id="name" name="name" placeholder="new username" value="{{username}}"><br>

<!-- Event to be logged -->
Event:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <select name="event" id="event">
  <option value="trampoline"{% if event=="trampoline" %} selected{% endif %}>Trampoline</option>
  <option value="dmt"{% if event=="dmt" %} selected{% endif %}>Double Mini</option>
</select><br>

<!-- Skills to be logged -->
<textarea id="log" name="log" rows="10" cols="50" form="logger" placeholder="Input your routines here">{{routine_text}}</textarea>
<br>
<input type="submit">
</form>


<!--- Deleting past data --->
<form method="post" id="clear-form" style='text-align:left;'>
<button type="submit" id="delete-button">Delete Historical Data</button>
<button id="delete-day-button">Delete Today's Data</button>
</form>
</td></tr>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
 
  <script type="text/javascript">
    $("#delete-button").click(function(e){
    	e.preventDefault();
    	$.ajax({
      		type: 'GET',
      		url: "/logger/_clear",
      		success: function(data){
                 alert("Deleted data");
         	}
    	});
    });

    $("#delete-day-button").click(function(e){
    $.ajax({
      type: 'GET',
      url: "/logger/_clearDay",
      success: function(data){
                 alert("Deleted data");
               }
    });
    });
</script>


<br><br>
{{body|safe}}
<br>

<br><br><br>

<!-- Index for tables -->
<table align='center' border=1 style='background-color:#FFFFFF;'>
<tr>
<th align='center' colspan=9>Index</th>
</tr>
<tr>
  <td>Skill 1</td>
  <td>Skill 2</td>
  <td></td>
  <td># skills in this turn</td>
  <td># flips in this turn</td>
  <td># total skills in practice</td>
  <td># total flips in practice</td>
  <td>DoD for turn</td>
  <td>total DoD for practice</td>
</tr>
</table>

</body>
</html>