{% extends "base.html" %}

{% block content %}
<!-- Settings -->
<br><br>
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>User Settings for {{user}}</h2>
    </div>
    <div class="row card-body">
      <div class="col-sm">
        <form action="/logger/user/update" method="POST">
          <div class="row">
            <div class="col-sm-2">
              <p class="card-text">Private (hide from leaderboards):</p>
            </div>
            <div class="col-sm-10">
              <input type="radio" id="yes" name="private" value="true" {% if user_data["private"]==True %} checked{%
                endif %}>
              <label for="yes">Yes, do not show data in leaderboards</label>

              <br>
              <input type="radio" id="no" name="private" value="false" {% if user_data["private"]==False %} checked{%
                endif %}>
              <label for="no">No, show data in leaderboards</label>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="compulsory">Compulsory:</label>
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{user_data['compulsory']}}" class="form-control" name="compulsory"><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="optional">Optional:</label>
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{user_data['optional']}}" class="form-control" name="optional"><br>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>

<!-- Options -->
<br><br>
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>User Options for {{user}}</h2>
    </div>
    <div class="row card-body">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-2">
            <h6>Data handling:</h6>
          </div>
          <div class="col-sm-5">
            <p class="card-text">Save all your data into a csv</p>
            <div class="row">
              <div class="col-sm-2">
                <label for="export-from">From: </label>
              </div>
              <div class="col-sm">
                <input name="export-from" id="export-from" placeholder="mm/dd/yyyy" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label for="export-to">To: </label>
              </div>
              <div class="col-sm">
                <input name="export-to" id="export-to" placeholder="mm/dd/yyyy" />
              </div>
            </div>
            <button class="btn btn-primary" id="export-data">Export Data</button>
          </div>
          <div class="col-sm-5">
            <p class="card-text">Import data from a csv</p>
            <button class="btn btn-primary">Import Data</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<br><br>

<!-- User charts -->
<div class="container">
  {% for event in datapts.keys() %}
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>{{event.replace('_', ' ').capitalize()}}</h2>
    </div>
    <canvas class="mx-auto" id="{{event}}Canvas" width="900" height="500"></canvas>
    <br><br>
  </div>
  <br><br>
  {% endfor %}

</div>


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $("#export-data").click(function (e) {
    e.preventDefault();
    var fromText = $('#export-from').val();
    var toText = $('#export-to').val();
    var url = "/logger/user/export?from=" + fromText + "&to=" + toText;
    location.href = encodeURI(url);
  });
  
  // One scatter plot per event
  {% for event, data in datapts.items() %}
  const ctx{{event}} = document.getElementById('{{event}}Canvas').getContext('2d');
  const myChart{{event}} = new Chart(ctx{{event}}, {
    type: 'scatter',
    data: {
      datasets: [
        {
          label: '{{ event }}',
          data: [
            {%- for datapt in data -%}
            {x: '{{datapt.x}}', y: {{datapt.y}}}{% if not loop.last %},{% endif %}
            {%- endfor -%}
          ],
          showLine: true,
          fill: false,
          borderColor: {%- if event.startswith("dmt") -%}'rgba(255, 99, 132, 1)'{%- else -%}'rgba(99, 99, 255, 1)'{%- endif -%},
        }
      ]
    },
    options: {
      responsive: false,
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day'
          }
        }]
      }
    }
  });
  {% endfor %}

</script>
{% endblock %}