{% extends "base.html" %}

{% block content %}
<!-- Settings -->
<br><br>
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>User Settings for {{user}}</h2>
    </div>
    <div class="row card-body">
      <div class="col-sm">
        <form action="/logger/user/update" method="POST">
          <div class="row">
            <div class="col-sm-2">
              <p class="card-text">Private (hide from leaderboards):</p>
            </div>
            <div class="col-sm-10">
              <input type="radio" id="yes" name="private" value="true" {% if user_data["private"]==True %} checked{%
                endif %}>
              <label for="yes">Yes, do not show data in leaderboards</label>

              <br>
              <input type="radio" id="no" name="private" value="false" {% if user_data["private"]==False %} checked{%
                endif %}>
              <label for="no">No, show data in leaderboards</label>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <p class="card-text">Expand all comments:</p>
            </div>
            <div class="col-sm-10">
              <input type="radio" id="yes" name="expand" value="true" {% if user_data["expand_comments"]==True %} checked{%
                endif %}>
              <label for="yes">Yes, show all comments</label>

              <br>
              <input type="radio" id="no" name="expand" value="false" {% if user_data["expand_comments"]==False %} checked{%
                endif %}>
              <label for="no">No, hide all comments</label>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="compulsory">Compulsory:</label>
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{user_data['compulsory']}}" class="form-control" name="compulsory"><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="optional">Optional:</label>
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{user_data['optional']}}" class="form-control" name="optional"><br>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>

<!-- Options -->
<br><br>
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>User Options for {{user}}</h2>
    </div>
    <div class="row card-body">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-2">
            <h6>Data handling:</h6>
          </div>
          <div class="col-sm-5">
            <p class="card-text">Save all your data into a csv</p>
            <div class="row">
              <div class="col-sm-2">
                <label for="export-from">From: </label>
              </div>
              <div class="col-sm">
                <input name="export-from" id="export-from" type="date" placeholder="mm/dd/yyyy" />
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label for="export-to">To: </label>
              </div>
              <div class="col-sm">
                <input name="export-to" id="export-to" type="date" placeholder="mm/dd/yyyy" />
              </div>
            </div>
            <button class="btn btn-primary" id="export-data">Export Data</button>
          </div>
          <div class="col-sm-5">
            <p class="card-text">Import data from a csv</p>
            <button class="btn btn-primary">Import Data</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>

<br><br>

<!-- User chart tabs-->
<div class="container">
  <div class="card border-primary">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="charts-list" role="tablist">
        {% for event in datapts.keys() %}
        <li class="nav-item">
          <a class="nav-link{% if loop.first %} active{% endif %}" href="#{{event}}" id="{{event}}-tab" data-toggle="tab" aria-controls="{{event}}" role="tab" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">{{ event.replace('_', ' ').capitalize() }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">

    <div class="tab-content">
      {% for event in datapts.keys() %}
      <div class="tab-pane fade{% if loop.first %}show active{% endif %}" id="{{ event }}" role="tabpanel" aria-labelledby="{{ event }}-tab">
        <canvas class="mx-auto" id="{{event}}Canvas" width="900" height="500"></canvas>
      </div>
      {% endfor %}
    <br>
    <div class="float-right">
    Start: <input id="chart-start" name="chart-start" type="date" placeholder="mm/dd/yyyy" value="{{chart_start}}" \>
    End: <input id="chart-end" name="chart-end" type="date" placeholder="mm/dd/yyyy" value="{{chart_end}}" \>
    <button class="btn btn-primary" id="chart-dates">Update</button>
    <br>
    Show lines: 
    yes: <input type="radio" id="chart-lines-yes" name="chart-lines" value="yes" \>
    no: <input type="radio" id="chart-lines-no" name="chart-lines" value="no" checked \>
    </div>
    </div>
  </div>
</div>
<br/>
<br/>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $("[id^=chart-lines]").click(function (e) {
    var showLines = event.target.id.slice(12);
    if (showLines == "yes"){
      {% for event, data in datapts.items() %}
      myChart{{event}}.data.datasets[0].showLine = true;
      myChart{{event}}.update();
      {% endfor %} 
    } else {
      {% for event, data in datapts.items() %}
      myChart{{event}}.data.datasets[0].showLine = false;
      myChart{{event}}.update();
      {% endfor %} 

    }

  });

  // Adjust chart dates
  $('#chart-dates').click(function(e){
    var start = $('#chart-start').val();
    //const dateRegExp = /^[0-9]{1,2}\/[0-9]{1,2}\/[0-9]{4}$/;
    const dateRegExp = /^[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}$/;
    const startValid = dateRegExp.test(start);
    if (start != "" && startValid == false) {
      alert("Start date has to be in mm/dd/yyyy format");
      return
    }
    var end = $('#chart-end').val();
    const endValid = dateRegExp.test(end);
    if (end != "" && endValid == false) {
      alert("End date has to be in mm/dd/yyyy format");
      return
    }
    // refresh the page to update the charts
    //var url = "/logger/user?chart_start=" + start + "&chart_end=" + end;
    //location.href = encodeURI(url);
  
    // dynamically update the charts
    updateCharts(start, end);
  });
  $("charts-list a").on('click', function(e){
    e.preventDefault();
    $(this).tab('show');
  });
  $("#export-data").click(function (e) {
    e.preventDefault();
    var fromText = $('#export-from').val();
    var toText = $('#export-to').val();
    var url = "/logger/user/export?from=" + fromText + "&to=" + toText;
    location.href = encodeURI(url);
  });

  // Clicking on Canvas point should bring to that day
  $("[id$='Canvas']").click(function (e) {
    var chartId = e.target.id;
    var eventIdx = chartId.slice(0, -6);
    var chart = chartMap.get(eventIdx);
    var activePoint = chart.getElementsAtEvent(e)[0];
    if (activePoint !== undefined) {
      var dataset = chart.data.datasets[activePoint._datasetIndex];
      var date = dataset.data[activePoint._index].x;

      if(confirm("Would you like to go to the practice on " + date + "?")){
        var url = "/logger/search?practice_date=" + date;
        window.open(encodeURI(url));
        //location.href = encodeURI(url);

      }
    }
  });
 
  function updateCharts(start_date, end_date) {
    start = new Date(start_date);
    end = new Date(end_date);

    {% for event, data in datapts.items() %}
    var data_{{event}} = [];
    for (var j=0; j < {{ data | length }}; j++){
      data_date = new Date({{ data | safe }}[j]['x']);
      if ( data_date < start) {
        continue;
      }
      if ( data_date > end ){
        continue;
      }
      data_{{event}}.push({'x': {{ data | safe }}[j]['x'], 'y': {{ data | safe }}[j]['y']});
    }
    myChart{{event}}.data.datasets[0].data = data_{{event}};
    myChart{{event}}.update();
    {% endfor %}

  }

  // One scatter plot per event
  const chartMap = new Map();
  {% for event, data in datapts.items() %}
  const ctx{{event}} = document.getElementById('{{event}}Canvas').getContext('2d');
  const myChart{{event}} = new Chart(ctx{{event}}, {
    type: 'scatter',
    data: {
      datasets: [
        {
          label: '{{ event }}',
          data: [
            {%- for datapt in data -%}
            {x: '{{datapt.x}}', y: {{datapt.y}}}{% if not loop.last %},{% endif %}
            {%- endfor -%}
          ],
          showLine: false,
          fill: false,
          borderColor: {%- if event.startswith("dmt") -%}'rgba(255, 99, 132, 1)'{%- else -%}'rgba(99, 99, 255, 1)'{%- endif -%},
        }
      ]
    },
    options: {
      responsive: false,
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day'
          }
        }]
      }
    }
  });
  chartMap.set('{{event}}', myChart{{event}});
  {% endfor %}

</script>
{% endblock %}