{% extends "base.html" %}

{% block content %}
<!-- Settings -->
<br><br>
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>User Settings for {{user}}</h2>
    </div>
    <div class="row card-body">
      <div class="col-sm">
        <form action="/logger/user/update" method="POST">
          <div class="row">
            <div class="col-sm-2">
              <p class="card-text">Private (hide from leaderboards):</p>
            </div>
            <div class="col-sm-10">
              <input type="radio" id="yes" name="private" value="true" {% if user_data["private"]==True %} checked{%
                endif %}>
              <label for="yes">Yes, do not show data in leaderboards</label>

              <br>
              <input type="radio" id="no" name="private" value="false" {% if user_data["private"]==False %} checked{%
                endif %}>
              <label for="no">No, show data in leaderboards</label>
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="compulsory">Compulsory:</label>
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{user_data['compulsory']}}" class="form-control" name="compulsory"><br>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <label for="optional">Optional:</label>
            </div>
            <div class="col-sm-10">
              <input type="text" value="{{user_data['optional']}}" class="form-control" name="optional"><br>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>

<!-- Options -->
<br><br>
<div class="container">
  <div class="card border-primary">
    <div class="card-header text-center">
      <h2>User Options for {{user}}</h2>
    </div>
    <div class="row card-body">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm-2">
            <h6>Data handling:</h6>
          </div>
          <div class="col-sm-5">
            <p class="card-text">Save all your data into a csv</p>
            <button class="btn btn-primary" id="export-data">Export Data</button>
          </div>
          <div class="col-sm-5">
            <p class="card-text">Import data from a csv</p>
            <button class="btn btn-primary">Import Data</button>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>



<br><br>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $("#export-data").click(function (e) {
    e.preventDefault();
    location.href = "/logger/user/export";
    /*
    $.ajax({
      type: 'GET',
      url: "/logger/user/export",
      success: function (data) {
        //alert("Saved data to: "+data.filename)
        //location.reload();
        location.href='/logger/user/export';
      }
    });
    */
  });
</script>
{% endblock %}